


<!-- BEGIN middle part -->
<section id="content">

  <div class="href_path_about"><h2>BLOG</h2> </div>

  <%= render :partial => 'partials/content/blogLeft' -%>

  <%= render :partial => 'partials/content/blogRight' -%>

  <div class="clear"></div>

  </div><!-- /END blog right -->

  <div class="clear_both"></div>
  <!-- /END blog container -->
</section>
