<div class="login"><h6>
  <button id= "btn_popup_login" ><%= image_tag("end-logo.png", :width => "15px", :height => "15px") %> 用户注册  &nbsp;&nbsp; 登入</button></h6>
</div>


<div id="login_form">

  test

</div>






<script type="text/javascript" xmlns="http://www.w3.org/1999/html">

    $(document).ready(function () {

        $('#btn_popup_login').click(function(event) {

            $('#login_form').bPopup({

                opacity: 0.6,
                positionStyle: 'fixed' //'fixed' or 'absolute'
            });
        });

    });

</script>




