

<section id="content">

  <%= render :partial => 'partials/admin/userAvatarUpload' -%>


  <div class="href_path_about"><h2>Admin Page</h2> </div>

  <%= render :partial => 'partials/admin/adminLeft' -%>


  <div class="clear"></div>

  </div><!-- /END blog right -->

  <div class="clear_both"></div>


</section>




